## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Hithadhoo,MV,81.95,overcast clouds,-0.6000,73.0833,NaN
1,1,Jamestown,US,87.39,few clouds,42.0970,-79.2353,NaN
2,2,Kangaba,ML,76.50,moderate rain,11.9333,-8.4167,NaN
3,4,Husavik,IS,66.11,broken clouds,66.0449,-17.3389,NaN
4,7,Bandarbeyla,SO,75.76,scattered clouds,9.4942,50.8122,NaN
5,8,Cantagallo,CO,93.67,clear sky,7.3760,-73.9196,NaN
6,15,Kidal,ML,99.07,scattered clouds,18.4411,1.4078,NaN
7,23,Salalah,OM,77.09,overcast clouds,17.0151,54.0924,NaN
8,24,Carbonia,IT,81.84,clear sky,39.1672,8.5222,NaN
9,25,Bereda,ES,69.58,clear sky,43.2686,-7.5406,NaN

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} *F</dd>
</d1>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Saint Anthony')]

vacation_end = vacation_df.loc[(vacation_df['City'] == 'Saint Anthony')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Marquette')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Arthur')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Carbondale')] 
vacation_start.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
170,267,Saint Anthony,US,87.26,few clouds,45.0205,-93.218,NaN

In [66]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
start_tuple = tuple(start.reshape(1, -1)[0])
end = vacation_end[['Lat','Lng']].to_numpy()
end_tuple = tuple(end.reshape(1,-1)[0])
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop1_tuple = tuple(stop1.reshape(1,-1)[0])
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop2_tuple = tuple(stop2.reshape(1,-1)[0])
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()
stop3_tuple = tuple(stop3.reshape(1,-1)[0])

In [67]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
directions = gmaps.figure()
trip = gmaps.directions_layer(
    start_tuple, end_tuple, waypoints=[stop1_tuple, stop2_tuple, stop3_tuple],
    travel_mode='BICYCLING')

directions.add_layer(trip)
directions

Figure(layout=FigureLayout(height='420px'))

In [68]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,267,Saint Anthony,US,87.26,few clouds,45.0205,-93.2180,NaN
1,316,Marquette,US,78.37,overcast clouds,46.5333,-87.6335,NaN
2,526,Arthur,US,81.97,overcast clouds,39.7148,-88.4723,NaN
3,534,Carbondale,US,92.77,few clouds,37.7273,-89.2168,NaN

In [70]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<d1>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} *F</dd>
</d1>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [72]:
# 11a. Add a marker layer for each city to the map.
travel_cities = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
travel_cities.add_layer(marker_layer)

# 11b. Display the figure
travel_cities

Figure(layout=FigureLayout(height='420px'))